{% extends "main/base.html" %}
{% block title %} {{ user.username }} {% endblock %}

{% block content %} 
<div class="card mt-2">
    <div class="card-header bg-dark text-light"><strong>@{{ author }}</strong></div>
    {% for post in posts %}
    <div class="card-header m-0 p-0"></div>
        <div class="card-body bg-light text-dark d-flex flex-row justify-content-between ">
            <div>
                <h4 class="card-title">{{ post.title }}</h4>
                <p>{{ post.text }}</p>
            </div>
            <div>
                {% if user == post.author or perms.user.delete_post %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" name="post-id" value="{{ post.id }}">Delete</button>
                    </form>
                {% endif %}
                {% if user.is_staff and post.author != user %}
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning" name="author-id" value="{{ post.author.id }}">Ban</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="card-footer text-muted bg-light pb-0 mb-0">
            <p>{{ post.created }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}